__pycache__/
*.csv
*.txt
*.png
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.env
*.venv
.env
.venv
*.log
.ipynb_checkpoints/
.vscode/
.idea/
*.iml
*.dvc
!.dvc/
.dvc/cache/
.dvc/tmp/
.data/*.csv
.data/**/*.csv
!.dvc
